*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    list-style: none;
}

body{
    background-color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
}
a{
    text-decoration: none;
}

/* utilitys */
.d-flex{
    display: flex;
}

.center-flex{
    justify-content: center;
    align-items: center;
}

.align-center{
    align-items: center;
}
.end-flex{
    justify-content: flex-end;
}
.j-f-center{
    justify-content: center;
}

.no-shrink{
    flex-shrink: 0;
}

.flex-dir-column{
    flex-direction: column;
}
