/* header  */
header{
    height: 50px;
    
    align-items: center;
    padding: 0 10px;
}

.sizing-inputs span{
    background-color: #4b4b4b;
    padding: 5px 5px;
    margin-right: 5px;
    border-radius: 3px;
}

/* main  */
main{
    height: calc(100vh - 130px);
    overflow-y: auto;
    flex-wrap: wrap;
    flex-direction: column;
}

.connectet-viewer{
    position: relative;
    height: 150px;
    width: 200px;
    margin: 5px;
}

.connectet-viewer img{
    width: 100%;
}

.viewer-name{
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 15px;
    color: white;
    padding: 5px 5px;
    background-color: rgba(2, 2, 2, 0.528);
}




/* footer */
footer{
    height: 80px;
    justify-content: space-between;
    align-items: center;
    background-color: #272727;
}

.tool{
    padding: 10px;
    text-align: center;
    align-items: center;
}

footer .fa-solid:active {
    color: #7dca33;
}

footer .fa-solid:active .fa-chevron-up{
    color: white;
}

.tool.zoom{
    display: flex;
    flex-direction: column;
}

.self-chevron {
    align-self: center;
}

.tool .fa-solid{
    font-size: 30px;
    padding-bottom: 10px;
}


.icon-title{
    margin-right: 10px;
}

.tool .fa-chevron-up{
    font-size: 12px;
}


.button{
    background-color: #4b4b4b;
    flex-basis: 120px;
    height: 100%;
}
.button a{
    color: red;

}

.fa-share-from-square{
    color: #7dca33;
}